* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.hero {
    background-image: url(../img/hotelibiza_1z.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;

}